<h1 class="display-5">About</h1>
<hr>
<p>Friends app is a website that helps you to keep track of all of the information of your friends!</p>
<p>The code is writted by Ziad Khobeiz by following the course "Learn Ruby on Rails" instructed by John Elder</p>
